<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Lab128</title>
	</head>
	<body>
	<div class="container">
      	<table class="table">
        	<thead class="thead-light">
          	<tr class="text-center">
            <th scope="col">TsName</th>
            <th scope="col">MaxSize</th>
            <th scope="col">Used,M</th>
            <th scope="col">Used,%</th>
          	</tr>
        	</thead>
      	</table>     
    	</div> 
	</body>
</html>