<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
	<title>TableSpace</title>
	<link rel="stylesheet" th:href="@{/css/TableSpace.css}"></link>
</head>
<body>
	<div class="container">
		<h2 class="tablespace">TableSpace</h2>
		<div>
			<table class="board_list">
				<p th:text="${TableSpaceLabel.TABLESPACES}"
				   th:each="TableSpaceLabel : ${TableSpaceLabelList}"></p>
				<p th:text="${TableSpaceLabel.TOTAL}"
				   th:each="TableSpaceLabel : ${TableSpaceLabelList}"></p>
				<p th:text="${TableSpaceLabel.USEDGB}"
				   th:each="TableSpaceLabel : ${TableSpaceLabelList}"></p>
				<p th:text="${TableSpaceLabel.INDEXES}"
				   th:each="TableSpaceLabel : ${TableSpaceLabelList}"></p>
				<p th:text="${TableSpaceLabel.TRIGGERS}"
				   th:each="TableSpaceLabel : ${TableSpaceLabelList}"></p>   
				<div class="progress-bar"><div data-width="${TableSpace.USEDPER}" style=""></div>
				<thead>
					<tr>
						<th scope="col">TsName</th>
						<th scope="col">MaxSize</th>
						<th scope="col">Used,M</th>
						<th scope="col">Used%</th>
					</tr>
				</thead>
				<tbody>
					<tr th:block th:each="TableSpace : ${TableSpaceList}">
						<td th:text="${TableSpace.TABLESPACENAME}"></td>
						<td th:text="${TableSpace.MAXSIZE}"></td>
						<td th:text="${TableSpace.USED}"></td>
						<td class="bar" th:text="${TableSpace.USEDPER}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>