<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
	<title>TableSpaceDetail</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>
	<div class="DetailContainer">
		<h2>TableSpaceDetail</h2>
		<table class="detail_board_list">
			<colgroup>
				<col width="3%"/>
				<col width="3%"/>
				<col width="5%"/>
				<col width="10%"/>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">TS#</th>
					<th scope="col">NAME</th>
					<th scope="col">Size.M</th>
					<th scope="col">Used.%of Max</th>
					<th scope="col">MaxSize.M</th>
					<th scope="col">BlockSize.K</th>
					<th scope="col">STATUS</th>
					<th scope="col">CNTNT</th>
					<th scope="col">EXT_MGMT</th>
					<th scope="col">LOG</th>
					<th scope="col">Total.R/W Blocks</th>
					<th scope="col">Delta.R/W Blo</th>
					<th scope="col">R/W Blocks</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</body>
</html>